*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background-color: #0b0c0c;
  font-family: "montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
      text-decoration: none;
    list-style: none;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App-header {
  width: 100%;
  margin: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}
